@import 'colors';


ul{
    list-style: none;
        li{
            a{
                 text-decoration: none;
                 color: white;
                 transition: color 0.3 ease-in-out; 
            }
              :hover{
                    color:red;
                 }
            
        }
    }
.socials{
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}    
.main_footer{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5rem 2rem;
    @media (width > 60rem){
        padding: 5rem 25rem;
    }
    .left_link{
        ul{
            .company{
                font-style: italic;
                margin-bottom: 0.5rem;

            }
        }
    }
}