@import 'colors';


.NavBarMainContainer{
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
        .logo_name{
            color: $btn-bg;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;
                @media(width <= 414px) {
                   font-size: 1.5rem;
                    

                }
        }

        .Nav_left_section{
            display: flex; 
            color: white;
            gap: 1rem;
            text-align: center;
            justify-content: center;
            align-items: center;

                .nav_lang{
                    text-align: center;
                    font-size: .7rem;
                    cursor: pointer;
                                 @media(width > 414px) {
                                        font-size: 1rem;
               }
                }
        }
}