@import 'colors';

.main_questions{
color: white;

    .question_q{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: $join_div;
        border-radius: 1rem;
        @media(width > 60rem){
            gap: 26rem;
        }

    }
    .anwers{
        padding: 1rem 2rem;
        background-color: $join_div;
        border-radius: 1rem;
        margin-top: 2px;
    }
}